<!DOCTYPE html>
<html lang="en" ng-app="Nutri">
  <head>
    <meta charset="utf-8">
    <title>NutriApp</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/app/nutri.js"></script>
    <script src="js/app/service/request.js"></script>
    <script src="js/app/factory/food.js"></script>
    <script src="js/app/controller/main.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <input ng-model="term">
    <button ng-click="findFood()">Search</button>

    <div ng-show="food">
      <p>
        <b>{{ food.Name }}</b>
      </p>

      <p>
        Servings:
        <ul>
          <li ng-repeat="serving in food.ServingsList.Servings">
            <i>{{ serving.Description }}</i>
            has {{ serving.Calories }} kcal,
            {{ serving.Protein }}g protein
          </li>
        </ul>
      </p>
    </div>

    <div ng-show="foods">
      {{ foods.TotalResults }} results

      <ul>
        <li ng-repeat="food in foods.FoodList">
          <a href ng-click="getFood(food.Id)">{{ food.Brand }}<span ng-show="food.Brand"> - </span>{{ food.Name }}</a>
        </li>
      </ul>
    </div>

    <div ng-show="error">
      Error: {{error}}
    </div>
  </body>
</html>
